fastapi[standard]==0.120.2
pydantic==2.12.3
pydantic-settings==2.11.0
uvicorn==0.38.0
python-dotenv==1.2.1

# Database
sqlalchemy==2.0.36
alembic==1.14.0
psycopg==3.2.3

# Testing dependencies
pytest==8.3.4
pytest-cov==6.0.0
httpx==0.28.1
